---
import MixedContentDemo from "../components/MixedContentDemo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mixed content demo">
  <h1 class="mb-4 text-3xl font-bold">Mixed content demo</h1>

  <MixedContentDemo />
</Layout>
